# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [2]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2019-12-22 03:43:26--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.47.11, 104.25.46.11, 2606:4700:20::6819:2f0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2019-12-22 03:43:26--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  16.0MB/s    in 1.5s

2019-12-22 03:43:28 (16.0 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2019-12-22 03:43:29--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.46.11, 104.25.47.11, 2606:4700:20::6819:2e0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.46.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M  17.6MB/s    in 2.7s

2019-12-22 03:43:32 (17.6 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [3]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [4]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [8]:
!head /tmp/customer_reviews_1998.csv

AE22YDHSBFYIP,1970-12-30,5,10,0,1551803542,"Start and Run a Coffee Bar (Start & Run a)",11611,Book,"Business & Investing","General","{0471136174,0910627312,047112138X,0786883561,0201570483}"
AE22YDHSBFYIP,1970-12-30,5,9,0,1551802538,"Start and Run a Profitable Coffee Bar",689262,Book,"Business & Investing","General","{0471136174,0910627312,047112138X,0786883561,0201570483}"
ATVPDKIKX0DER,1995-06-19,4,19,18,0898624932,"The Power of Maps",407473,Book,"Nonfiction","Politics","{0226534219,0226534170,1931057001,0801870909,157230958X}"
AH7OKBE1Z35YA,1995-06-23,5,4,4,0521469112,"Invention and Evolution",755661,Book,"Science","General","{1591391857}"
ATVPDKIKX0DER,1995-07-14,5,0,0,0679722955,"The Names (Vintage Contemporaries (Paperback))",264928,Book,"Literature & Fiction","General","{0140152741,0679722947,0140156046,0679722939,0679722920}"
A102UKC71I5DU8,1995-07-18,4,2,2,0471114251,"Bitter Winds ",154570,Book,"Biographies & Memoirs","General","{0812963741,081331769X,014010870X,0879611316,0060007761}"
A1HPIDTM9SRBLP,1995-07-18,5,0,0,0517887290,"Fingerprints of the Gods ",13481,Book,"Science","Astronomy","{0517888521,0609804774,0671865412,1400049512,0517884542}"
A1HPIDTM9SRBLP,1995-07-18,5,0,0,1574531093,"Fingerprints of the Gods (Alternative History)",410246,Book,"Books on Tape","Nonfiction","{0517888521,0609804774,0671865412,1400049512,0517884542}"
ATVPDKIKX0DER,1995-07-18,5,1,0,0962344788,"Heavy Light",663630,Book,"Arts & Photography","Art",{}
ATVPDKIKX0DER,1995-07-18,5,1,1,0195069056,"Albion's Seed",4697,Book,"Nonfiction","Social Sciences","{0813917743,0195098315,0767916883,0195170342,0195162536}"

In [9]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE IF NOT EXISTS customer_reviews_row(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
);

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [10]:
%%sql 
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
589859 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [11]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**Create** a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [13]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)
-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [14]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [15]:
%%time
%%sql

SELECT product_title, AVG(review_rating) review_rating
FROM customer_reviews_row
GROUP BY product_title
ORDER BY review_rating DESC
LIMIT 20
;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 139 µs, sys: 3.86 ms, total: 4 ms
Wall time: 921 ms

[('Frog Girl', Decimal('5.0000000000000000')),
 ('The Reindeer Christmas', Decimal('5.0000000000000000')),
 ('Playwriting', Decimal('5.0000000000000000')),
 ('Sister to Sister', Decimal('5.0000000000000000')),
 ("The Devil's Candy", Decimal('5.0000000000000000')),
 ('Behind Adobe Walls', Decimal('5.0000000000000000')),
 ('Bill, the Galactic Hero', Decimal('5.0000000000000000')),
 ('Remy Zero', Decimal('5.0000000000000000')),
 ('Cartooning with Math', Decimal('5.0000000000000000')),
 ("The King of Vinland's Saga", Decimal('5.0000000000000000')),
 ("1930'S Scrapbook", Decimal('5.0000000000000000')),
 ("Ed Emberley's Great Thumbprint Drawing Book", Decimal('5.0000000000000000')),
 ('Healing Your Aloneness ', Decimal('5.0000000000000000')),
 ('Terminal Identity', Decimal('5.0000000000000000')),
 ('The Rapier & Small-Sword', Decimal('5.0000000000000000')),
 ('Live! In the Air Age', Decimal('5.0000000000000000')),
 ('Homeplace (Richard Jackson Books (Econo-Clad))', Decimal('5.0000000000000000')),
 ('The Unknown Matisse', Decimal('5.0000000000000000')),
 ('Mystery of the Chinese Junk (Hardy Boys Mystery Stories)', Decimal('5.0000000000000000')),
 ('Maurice and Therese', Decimal('5.0000000000000000'))]

 Then on `customer_reviews_col`:

In [16]:
%%time
%%sql

SELECT product_title, AVG(review_rating) review_rating
FROM customer_reviews_col
GROUP BY product_title
ORDER BY review_rating DESC
LIMIT 20
;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 3.17 ms, sys: 662 µs, total: 3.83 ms
Wall time: 1.39 s

[('Relationship Selling', Decimal('5.0000000000000000')),
 ('Allen Iverson (Basketball Legends)', Decimal('5.0000000000000000')),
 ('Morrie', Decimal('5.0000000000000000')),
 ('Playwriting', Decimal('5.0000000000000000')),
 ('Wounded in the House of a Friend', Decimal('5.0000000000000000')),
 ("Ed Emberley's Great Thumbprint Drawing Book", Decimal('5.0000000000000000')),
 ("The Devil's Candy", Decimal('5.0000000000000000')),
 ('Babylonians (Peoples of the Past)', Decimal('5.0000000000000000')),
 ('Bill, the Galactic Hero', Decimal('5.0000000000000000')),
 ('Great Songs of the Sixties, Vol. 1', Decimal('5.0000000000000000')),
 ('Terminal Identity', Decimal('5.0000000000000000')),
 ('Foreign Dialects', Decimal('5.0000000000000000')),
 ('Gotta Mind to Travel', Decimal('5.0000000000000000')),
 ('You Can Win!', Decimal('5.0000000000000000')),
 ('Healing Your Aloneness ', Decimal('5.0000000000000000')),
 ('Desert Giant', Decimal('5.0000000000000000')),
 ('Sister to Sister', Decimal('5.0000000000000000')),
 ("1930'S Scrapbook", Decimal('5.0000000000000000')),
 ('The Third Patient', Decimal('5.0000000000000000')),
 ('Fear Emptiness Despair', Decimal('5.0000000000000000'))]

## Conclusion: We can see that the columnar storage is faster!