## Databases

### Definition
A set of related data and the way it is organized

### Database Management System
"... consisting of **compuer software** that allows users to interact with the databases and provides access to all of the data. Because of the **close relationship** the term database is often used to refer to both the database and the DBMS used."

## Impotance of Relational Databases
* Invented in 1969 by researchers at IBM. Edgar R.Codd, the lead researcher, proposed 12 rules of what makes a DBMS a true relational system.

**Rule 1**: The information rule:
All information in a relational database is represented explicitly at the logical level and in exactly one way â€“ by values in tables.

**More information on Codd's 12 Rules can be found here:**
[Wikipedia link](https://en.wikipedia.org/wiki/Codd%27s_12_rules)

### Relational Importance
* **Standardization of data model**: Once your data is transformed into the rows and columns format, your data is standardized and you can query it with SQL
* **Flexibility in adding and altering tables**: Relational databases gives you flexibility to add tables, alter tables, add and remove data.
* **Data Integrity**: Data Integrity is the backbone of using a relational database.
* **Standard Query Language (SQL)**: A standard language can be used to access the data with a predefined language.
* **Simplicity** : Data is systematically stored and modeled in tabular format.
* **Intuitive Organization**: The spreadsheet format is intuitive but intuitive to data modeling in relational databases.

## OLAP vs OLTP
### WHat is OLAP vs OLTP?
**Online Analytical Processing(OLAP)**:  
Databases optimized for there workloads allow for **complex analytical and ad hoc queries**. These types of databases are optimized for reads.  

**Online Transactional Processing(OLTP)**:
Databases optimized for these workloads allow fo **less complex queries in large volume**. The types of queries for these databases are read, insert, update and delete.  

The key to remember the difference between OLAP and OLTP is analytics (A) vs transactions (T). If you want to get the price of a shoe then you are using OLTP (this has very little or no aggregations). If you want to know the total stock of shoes a particular store sold, then this requires using OLAP (since this will require aggregations).

## Quiz 1
### Question 1 of 2
True or False: OLTP queries are read heavy and focus primarily on analytics.
- [ ] True
- [x] False

### Question 2 of 2
What makes data modeling for relational databases different?
- [x] The ability to model data in a way that is intuitive.
- [ ] You must model for the queries first
- [ ] There s no flexibility or agile nature to this process.

## Structuring the Database: Normalization

**Normalization**: To reduce data redundancy and increase data integrity.

**De-normalization**: Must be done in read heavy workloads to increase performance. 

### Normalization
The process of **structuring** a relational database in accordance with a series of **normal forms** in order **to reduce data redundancy and increase data integrity**.

## Objective of Normal Form:
1. To free the database from unwanted insertions, updates, & deletion dependencies
2. To reduce the need for refactoring the database as new types of data are introduced
3. To make the relational model more informative to users
4. To make the database neutral to the query statistics

## Normal Forms
The process of normalization is step by step process:
* First Normal Form (1NF)
* Second Normal Form (2NF)
* Third Normal Form (3NF)

**How to reach First Normal Form (1NF)**:
* Atomic values: each cell contains unique and single values
* Be able to add data without altering tables
* Separate different relations into different tables
* Keep relationships between tables together with foreign keys

**Second Normal Form (2NF)**:
* Have reached 1NF
* All columns in the table must rely on the Primary Key (No partial dependency)

**Third Normal Form (3NF)**:
* Must be in 2nd Normal Form
* No transitive dependencies
* Remember, transitive dependencies you are trying to maintain is that to get from A-> C, you want to avoid going through B.

**When to use 3NF**:

* When you want to update data, we want to be able to do in just 1 place. We want to avoid updating the table in the Customers Detail table (in the example in the lecture slide).

### Quiz Question
What is the maximum normal form that should be attempted while doing practical data modeling?
- [ ] First Normal Form 
- [ ] Second Normal Form
- [x] Third Normal Form
- [ ] Fourth Normal Form

## Lesson 2 Demo 1: Creating Normalized Tables

### Walk through the basics of modeling data in normalized form. <br>
<ol><li>Create tables in PostgreSQL
<li>Insert rows of data
<li>Do a simple JOIN SQL query to show how these tables can work together.

### Import the library 
Note: An error might popup after this command has executed. If it does, read it carefully before ignoring.

In [1]:
import psycopg2

### Create a connection to the database, get a cursor, and set autocommit to true

In [5]:
# Create a connection
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

# get a cursor
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)

# set the autocommit to true
conn.set_session(autocommit=True)

#### Let's imagine we have a table called Music Library. 

`Table Name: music_library
column 0: Album Id
column 1: Album Name
column 2: Artist Name
column 3: Year 
column 4: List of songs`

<img src="images/table1.png" width="650" height="650">



#### Now to translate this information into a Create Table Statement and insert the data

In [13]:
# Dropping the table
try:
    cur.execute("DROP TABLE IF EXISTS music_library")
except psycopg2.Error as e:
    print("Error: Dropping the table")
    print(e)
    
# Create a Table statement
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library(album_id INT,\
                                                          album_name VARCHAR,\
                                                          artist_name VARCHAR,\
                                                          year INT, songs TEXT[])")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

#Include the insert statement
try:
    cur.execute("INSERT INTO music_library (album_id,album_name,artist_name,year,songs)\
                 VALUES (%s, %s, %s, %s, %s)",\
                (1,"Rubber Soul", "The Beatles", 1965, ["Michelle", "Think For Yourself", "In My Life"]))

except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

try: 
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, "Let It Be", "The Beatles", 1970, ["Let It Be", "Across The Universe"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
# Confirm the data got inserted in the table we created
try:
    cur.execute("SELECT * FROM music_library")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])

#### Moving to 1st Normal Form (1NF)
This data has not been normalized. To get this data into 1st normal form, we will need to remove any collections or list of data. We need to break up the list of songs into individuals rows. 


`Table Name: music_library2
column 0: Album Id
column 1: Album Name
column 2: Artist Name
column 3: Year 
column 4: Song Name`

In [16]:
# Dropping the table
try:
    cur.execute("DROP TABLE IF EXISTS music_library2")
except psycopg2.Error as e:
    print("Error: Dropping the table")
    print(e)

# Creating the table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2(album_id INT,\
                                                          album_name VARCHAR,\
                                                          artist_name VARCHAR,\
                                                          year INT, song_name VARCHAR);")
except psycopg2.Error as e:
    print("Error: Issue Creating table")
    print(e)

# Inserting the values
try:
    for song in ["Michelle", "Think For Yourself", "In My Life"]:
        cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name)\
                     VALUES (%s, %s, %s, %s, %s)",\
                     (1, "Rubber Soul", "The Beatles", 1965, song))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

try:
    for song in ["Let It Be", "Across The Universe"]:
        cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name)\
                     VALUES (%s, %s, %s, %s, %s)",\
                     (2, "Let It Be", "The Beatles", 1970, song))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
# Confirm the data got inserted in the table we created
try:
    cur.execute("SELECT * FROM music_library2")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 'Across The Universe')

#### Moving to 2nd Normal Form (2NF)
We have moved our data to be in 1NF which is the first step in moving to 2nd Normal Form. Our table is not yet in 2nd Normal Form. While each of our records in our table is unique, our Primary key (*album id*) is not unique. We need to break this up into two tables, *album library* and *song library*. 

`Table Name: album_library 
column 0: Album Id
column 1: Album Name
column 2: Artist Name
column 3: Year `

`Table Name: song_library
column 0: Song Id
column 1: Song Name
column 3: Album Id` 

<img src="images/table3.png" width="450" height="450"> <img src="images/table4.png" width="450" height="450">

In [19]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library(album_id INT, \
                                                          album_name VARCHAR,\
                                                          artist_name VARCHAR,\
                                                          year INT);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS song_library(song_id INT,\
                                                          song_name VARCHAR,\
                                                          album_id INT)")    
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try: 
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Rubber Soul", "The Beatles", 1965))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Let It Be", "The Beatles", 1970))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (1, 1, "Michelle"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, "Think For Yourself"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (3, 1, "In My Life"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (4, 2, "Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (5, 2, "Across the Universe"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

print("Table: album_library\n")
try: 
    cur.execute("SELECT * FROM album_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: song_library\n")
try: 
    cur.execute("SELECT * FROM song_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: album_library

(1, 'Rubber Soul', 'The Beatles', 1965)
(2, 'Let It Be', 'The Beatles', 1970)

Table: song_library

(1, 'Michelle', 1)
(2, 'Think For Yourself', 1)
(3, 'In My Life', 1)
(4, 'Let It Be', 2)
(5, 'Across the Universe', 2)

#### Let's do a `JOIN` on this table so we can get all the information we had in our first Table.

In [20]:
try:
    cur.execute("SELECT * FROM album_library JOIN song_library\
                 ON album_library.album_id = song_library.album_id;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 1, 'Michelle', 1)
(1, 'Rubber Soul', 'The Beatles', 1965, 2, 'Think For Yourself', 1)
(1, 'Rubber Soul', 'The Beatles', 1965, 3, 'In My Life', 1)
(2, 'Let It Be', 'The Beatles', 1970, 4, 'Let It Be', 2)
(2, 'Let It Be', 'The Beatles', 1970, 5, 'Across the Universe', 2)

#### Moving to 3rd Normal Form (3NF)
Check our table for any transitive dependencies. *Album_library* can move *Artist_name* to its own table, called *Artists*, which will leave us with 3 tables. 

`Table Name: album_library2 
column 0: Album Id
column 1: Album Name
column 2: Artist Id
column 3: Year `

`Table Name: song_library
column 0: Song Id
column 1: Song Name
column 3: Album Id`

`Table Name: artist_library
column 0: Artist Id
column 1: Artist Name `
<img src="images/table4.png" width="450" height="450"> <img src="images/table5.png" width="450" height="450"> <img src="images/table6.png" width="350" height="350">

In [21]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS album_library2 (album_id int, \
                                                           album_name varchar, artist_id int, \
                                                           year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library (artist_id int, \
                                                           artist_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

    
try: 
    cur.execute("INSERT INTO album_library2 (album_id, album_name, artist_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Rubber Soul", 1, 1965))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO album_library2 (album_id, album_name, artist_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Let It Be", 1, 1970))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO artist_library (artist_id, artist_name) \
                 VALUES (%s, %s)", \
                 (1, "The Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    

print("Table: album_library2\n")
try: 
    cur.execute("SELECT * FROM album_library2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: song_library\n")
try: 
    cur.execute("SELECT * FROM song_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

##Doublechecking that data is in the table
print("\nTable: artist_library\n")
try: 
    cur.execute("SELECT * FROM artist_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: album_library2

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

Table: song_library

(1, 'Michelle', 1)
(2, 'Think For Yourself', 1)
(3, 'In My Life', 1)
(4, 'Let It Be', 2)
(5, 'Across the Universe', 2)

Table: artist_library

(1, 'The Beatles')

#### Let's do two `JOIN` on these 3 tables so we can get all the information we had in our first Table.

In [22]:
try: 
    cur.execute("SELECT * FROM (artist_library JOIN album_library2 ON \
                               artist_library.artist_id = album_library2.artist_id) JOIN \
                               song_library ON album_library2.album_id=song_library.album_id;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 'Michelle', 1)
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 'Think For Yourself', 1)
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 3, 'In My Life', 1)
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 4, 'Let It Be', 2)
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 5, 'Across the Universe', 2)

### DONE! We have Normalized our dataset!

### For the sake of the demo, I will drop the tables.

In [23]:
try: 
    cur.execute("DROP table music_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table music_library2")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table album_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table song_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table album_library2")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table artist_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

### And finally close your cursor and connection.

In [24]:
cur.close()
conn.close()

## De-normalization
JOINS on the database allow for outstanding flexibility but are extremely slow. If you are dealing with heavy reads on your database, you may want to think about denormalizing your tables. You get your data into normalized form, and then you proceed with denormalization. So, denormalization comes after normalization.

### Logical Design Change
1. The designer is in charge of keeping the data consistent
2. Reads will be faster(select)
3. Writes will be slower(insert,update,delete)

## Lesson 2 Demo 2: Creating Denormalized Tables
### Walk through the basics of modeling data from normalized from to denormalized form. In this demo, we will: <br>
<ol><li>Create tables in PostgreSQL<li>Insert rows of data<li>Do simple JOIN SQL queries to show how these mutliple tables can work together. 

_Remember the examples shown are simple, but imagine these situations at scale with large datasets, many users, and the need for quick response time._

#### Import the library 
Note: An error might popup after this command has executed. If it does, read it carefully before ignoring.

In [25]:
import psycopg2

Create a connection to the database, get a cursor, and set autocommit to true

In [28]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e:
    print("Error: could not connect to the Postgres database")
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)

conn.set_session(autocommit=True)

#### Let's start with our normalized (3NF) database set of tables we had in the last exercise but we have added a new table song_length. 

`Table Name: album_library 
column 0: Album Id
column 1: Album Name
column 2: Artist Id
column 3: Year `

`Table Name: song_library
column 0: Song Id
column 1: Song Name
column 3: Album Id`

`Table Name: artist_library
column 0: Artist Id
column 1: Artist Name `

`Table Name: song_length
column 0: Song Id
column 1: Song length in seconds
`

Please refer to the table images in the video.

In [29]:
#Create all Tables
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS album_library (album_id int, \
                                                           album_name varchar, artist_id int, \
                                                           year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library (artist_id int, \
                                                           artist_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS song_library (song_id int, album_id int, \
                                                          song_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS song_length (song_id int, song_length int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert into all tables 

try: 
    cur.execute("INSERT INTO song_length (song_id, song_length) \
                 VALUES (%s, %s)", \
                 (1, 163))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_length (song_id, song_length) \
                 VALUES (%s, %s)", \
                 (2, 137))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_length (song_id, song_length) \
                 VALUES (%s, %s)", \
                 (3, 145))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_length (song_id, song_length) \
                 VALUES (%s, %s)", \
                 (4, 240))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_length (song_id, song_length) \
                 VALUES (%s, %s)", \
                 (5, 227))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
    
try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (1, 1, "Michelle"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, "Think For Yourself"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (3, 1, "In My Life"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (4, 2, "Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                 VALUES (%s, %s, %s)", \
                 (5, 2, "Across the Universe"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

    
try: 
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Rubber Soul", 1, 1965))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Let It Be", 1, 1970))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO artist_library (artist_id, artist_name) \
                 VALUES (%s, %s)", \
                 (1, "The Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

#### Print results

In [30]:
print("Table: album_library\n")
try: 
    cur.execute("SELECT * FROM album_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: song_library\n")
try: 
    cur.execute("SELECT * FROM song_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: artist_library\n")
try: 
    cur.execute("SELECT * FROM artist_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: song_length\n")
try: 
    cur.execute("SELECT * FROM song_length;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: album_library

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

Table: song_library

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across the Universe')

Table: artist_library

(1, 'The Beatles')

Table: song_length

(1, 163)
(2, 137)
(3, 145)
(4, 240)
(5, 227)

#### Let's say we need to do a query that gives us:

`artist_id 
artist_name 
album_id 
album_name 
year 
song_id
song_name 
song_length` 

we will need to perform a 3 way `JOIN` on the 4 tables we have created.

In [31]:
try: 
    cur.execute("SELECT artist_library.artist_id, artist_name, album_library.album_id, \
                        album_name, year, song_library.song_id, song_name, song_length\
                  FROM ((artist_library JOIN album_library ON \
                         artist_library.artist_id = album_library.artist_id) JOIN \
                         song_library ON album_library.album_id=song_library.album_id) JOIN\
                         song_length ON song_library.song_id=song_length.song_id;")
    
    
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1965, 1, 'Michelle', 163)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 2, 'Think For Yourself', 137)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 3, 'In My Life', 145)
(1, 'The Beatles', 2, 'Let It Be', 1970, 4, 'Let It Be', 240)
(1, 'The Beatles', 2, 'Let It Be', 1970, 5, 'Across the Universe', 227)

#### Great we were able to get the data we wanted.

But, we had to do a to 3 way `JOIN` to get there. While it's great we had that flexability, we need to remember that `JOINS` are slow and if we have a read heavy workload that required low latency queries we want to reduce the number of `JOINS`.  Let's think about denormalizing our normalized tables.

#### Query 1 : `select artist_name, album_name, year, song_name, song_length FROM <min number of tables>` 
I want a list of all my songs
#### Query 2: `select album_name SUM(song_length) FROM <min number of tables> GROUP BY album_name` 
I want to know the length of each album in seconds

In [32]:
#Create all Tables
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS album_library1 (album_id int, \
                                                           album_name varchar, artist_name varchar, \
                                                           year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)


try: 
    cur.execute("CREATE TABLE IF NOT EXISTS song_library1 (song_id int, album_id int, \
                                                          song_name varchar, song_length int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)


#Insert into all tables 
    
try: 
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, 1, "Think For Yourself", 137 ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, 1, "In My Life", 145))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) \
                 VALUES (%s, %s, %s, %s)", \
                 (4, 2, "Let It Be", 240))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) \
                 VALUES (%s, %s, %s, %s)", \
                 (5, 2, "Across the Universe", 227))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

    
try: 
    cur.execute("INSERT INTO album_library1 (album_id, album_name, artist_name, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Rubber Soul", "The Beatles", 1965))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO album_library1 (album_id, album_name, artist_name, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Let It Be", "The Beatles", 1970))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Great we can now do a simplifed query to get the information we need. Only one `JOIN` is needed.

In [33]:
try: 
    cur.execute("SELECT artist_name, album_name, year, song_name, song_length\
                  FROM song_library1 JOIN album_library1 ON \
                        song_library1.album_id = album_library1.album_id;")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('The Beatles', 'Rubber Soul', 1965, 'Think For Yourself', 137)
('The Beatles', 'Rubber Soul', 1965, 'In My Life', 145)
('The Beatles', 'Let It Be', 1970, 'Let It Be', 240)
('The Beatles', 'Let It Be', 1970, 'Across the Universe', 227)

#### Query 2: `select album_name SUM(song_length) FROM <min number of tables> GROUP BY album_name` 

We could also do a `JOIN` on the tables we have created, but what if we do not want to have any `JOINS`, why not create a new table with just the information we need. 

`Table Name: album_length
col: Song Id
Col: Album Id
col: Song Length
`

In [35]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS album_length (song_id int, album_name varchar, \
                                                          song_length int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)


#Insert into all tables 
    
try: 
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) \
                 VALUES (%s, %s, %s)", \
                 (1, "Rubber Soul", 163 ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) \
                 VALUES (%s, %s, %s)", \
                 (2, "Rubber Soul", 137 ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)   

try: 
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) \
                 VALUES (%s, %s, %s)", \
                 (3, "Rubber Soul", 145 ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)   

try: 
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) \
                 VALUES (%s, %s, %s)", \
                 (4, "Let It Be", 240 ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e) 
    
try: 
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) \
                 VALUES (%s, %s, %s)", \
                 (5, "Let It Be", 227 ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

#### Now let's run our query

In [36]:
try: 
    cur.execute("SELECT album_name, SUM(song_length) FROM album_length GROUP BY album_name;")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('Rubber Soul', 445)
('Let It Be', 467)

#### We have successfully taken normalized table and denormalized them inorder to speed up our performance and allow for simplier queries to be executed.

### For the sake of the demo, I will drop the tables.

In [37]:
try: 
    cur.execute("DROP table song_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table album_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table artist_library")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table song_length")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table song_library1")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table album_library1")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table album_length")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

### And finally close your cursor and connection.

In [38]:
cur.close()
conn.close()

## Fact and Dimension Tables
* Work together to create an organized data model.
* While fact and dimension are not created differently in DDL, they are conceptual and extremely important for organization.

### Fact Tables
Fact table consists of the measurement, metrics or facts of a business process.
### Dimension Table
A structure that categorizes facts and measures in order to enable users to answer business questions. Dimensions are people, products and time.

### Example
The following image shows the relationship between the fact and dimension tables. As you can see in the image, the unique primary key for each Dimension table is included in the Fact table.

In this example, it helps to think about the Dimension tables providing the following information:

* **Where** the product was bought? (Dim_Store table)
* **When** the product was bought? (Dim_Date table)
* **What** product was bought? (Dim_Product table)

The **Fact table** provides the **metric of the business process** (here Sales)

* **How many** units of products were bought? (Fact_Sales table)
<img src="images/dimension-fact-tables.png">

### Implementing Different Schemas
Two of the most popular (because of their simplicity) data mart schema for data warehouses are:
1. Start Schema
2. Snowflake Schema

If you are familiar with **Entity Relationship Diagrams** (ERD), you will find the depiction of STAR and SNOWFLAKE schemas in the demo familiar. The ERDs show the data model in a concise way that is also easy to interpret. ERDs can be used for any data model, and are not confined to STAR or SNOWFLAKE schemas. Commonly available tools can be used to generate ERDs. However, more important than creating an ERD is to learn more about the data through conversations with the data team so as a data engineer you have a strong understanding of the data you are working with.

## Star Schemas
Start Schema is the simplest style of data mart schema. The star schema consists of one or more fact tables referencing any number of dimension tables.

### Why "star" schema?
* Gets its name from physical model resembling a start shape
* A fact model is at its center
* Dimension table surrounds the fact table representing the star's points.
<img src="images/star_schema.png">

## Benefits of Star Schemas
* De-normalized
* Simplifies queries
* Fast aggregation

## Drawbacks of Star Schemas
* Issues that come with de-normalization
* Data Integrity
* Decrease query flexibility
* Many to many relationship --simplified

## Snowflake Schema
Logical arrangement of tables in a multi-dimensional database represented by centralized fact tables which are connected to multiple dimensions.

### Why "snowflake" schema?
" A complex snowflake shape emerges when the dimensions of a snowflake schema are elaborated., having multiple levels of relationships, child tables having multiple parents."
<img src="images/snowflake_schema.png">

### Snowflake vs star
* Star Schema is a special, simplified case of snowflake schema.
* Star Schema does not allow for one to many relationships while snowflake schema does.
* Snowflake schema is more normalized than Star Schema but only in 1NF or 2NF.

## Lesson 2 Demo 3: Creating Fact and Dimension Tables with Star Schema

### Walk through the basics of modeling data using Fact and Dimension tables.  In this demo, we will:<br>
<ol><li>Create both Fact and Dimension tables<li>Show how this is a basic element of the Star Schema.

### Import the library 
Note: An error might popup after this command has executed. If it does, read it carefully before ignoring.

In [1]:
import psycopg2

### Create a connection to the database

In [2]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

### Next use that connection to get a cursor that we will use to execute queries.

In [3]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: could not get cursor to the Database")
    print(e)

### For this demo we will use automatic commit so that each action is commited without having to call conn.commit() after each command. The ability to rollback and commit transactions are a feature of Relational Databases.

In [4]:
conn.set_session(autocommit=True)

### Let's imagine we work at an online Music Store. There will be many tables in our database but let's just focus on 4 tables around customer purchases. 

`Table Name: customer_transactions
column: Customer Id
column: Store Id
column: Spent`

`Table Name: Customer
column: Customer Id
column: Name
column: Rewards`

`Table Name: store
column: Store Id
column: State`

`Table Name: items_purchased
column: customer id
column: Item Name`

#### From this representation we can already start to see the makings of a "STAR". We have one fact table (the center of the star) and 3  dimension tables that are coming from it.

### Let's create the Fact Table and insert the data into the table

In [5]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS customer_transactions(customer_id INT, \
                                                                  store_id INT,\
                                                                  spent NUMERIC);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
#Insert into all tables 
try: 
    cur.execute("INSERT INTO customer_transactions (customer_id, store_id, spent) \
                 VALUES (%s, %s, %s)", \
                 (1, 1, 20.50))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try: 
    cur.execute("INSERT INTO customer_transactions (customer_id, store_id, spent) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, 35.21))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Let's create our Dimension Tables and insert data into those tables.

In [6]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS items_purchased (customer_id int, item_number int, item_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO items_purchased (customer_id, item_number, item_name) \
                 VALUES (%s, %s, %s)", \
                 (1, 1, "Rubber Soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO items_purchased (customer_id, item_number, item_name) \
                 VALUES (%s, %s, %s)", \
                 (2, 3, "Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS store (store_id int, state varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO store (store_id, state) \
                 VALUES (%s, %s)", \
                 (1, "CA"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try: 
    cur.execute("INSERT INTO store (store_id, state) \
                 VALUES (%s, %s)", \
                 (2, "WA"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS customer (customer_id int, name varchar, rewards boolean);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO customer (customer_id, name, rewards) \
                 VALUES (%s, %s, %s)", \
                 (1, "Amanda", True))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO customer (customer_id, name, rewards) \
                 VALUES (%s, %s, %s)", \
                 (2, "Toby", False))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

**We can do a variety of queries on this data easily because of utilizing the fact/dimension and Star Schema**

* _Query 1_: Find all the customers that spent more than 30 dollars, who are they, what did they buy and if they are a rewards member

* _Query 2_: How much did Store 1 sell?

_Query 1:_  Find all the customers that spent more than 30 dollars, who are they, what did they buy and if they are a rewards member

In [7]:
try: 
    cur.execute("SELECT name, item_name, rewards FROM ((customer_transactions \
                                                JOIN customer ON customer.customer_id=customer_transactions.customer_id)\
                                                JOIN items_purchased ON \
                                                customer_transactions.customer_id=items_purchased.customer_id)\
                                                WHERE spent > 30 ;")
    
    
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('Toby', 'Let It Be', False)

_Query 2:_ How much did Store 1 sell?

In [8]:
try: 
    cur.execute("SELECT store_id, SUM(spent) FROM customer_transactions GROUP BY store_id;")
    
    
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, Decimal('55.71'))

### Summary: What you can see here is from this elegant schema we were able to get "facts/metrics" from our fact table (how much each store sold), and also information about our customers that will allow us to do more indepth analytics to get answers to business questions by utilizing our fact and dimension tables.

### For the sake of the demo, I will drop the table.

In [9]:
try: 
    cur.execute("DROP table customer_transactions")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table items_purchased")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table customer")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table store")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

### And finally close your cursor and connection.

In [10]:
cur.close()
conn.close()

## Data Definition and Constraints
The CREATE statement in SQL has a few important constraints that are highlighted below.

### NOT NULL
The **NOT NULL** constraint indicates that the column cannot contain a null value.

Here is the syntax for adding a NOT NULL constraint to the CREATE statement:

`CREATE TABLE IF NOT EXISTS customer_transactions (
    customer_id int NOT NULL, 
    store_id int, 
    spent numeric
);`

You can add **NOT NULL** constraints to more than one column. Usually this occurs when you have a **COMPOSITE KEY**, which will be discussed further below.

Here is the syntax for it:

`CREATE TABLE IF NOT EXISTS customer_transactions (
    customer_id int NOT NULL, 
    store_id int NOT NULL, 
    spent numeric
);`

### UNIQUE
The **UNIQUE** constraint is used to specify that the data across all the rows in one column are unique within the table. The **UNIQUE** constraint can also be used for multiple columns, so that the combination of the values across those columns will be unique within the table. In this latter case, the values within 1 column do not need to be unique.

Let's look at an example.

`CREATE TABLE IF NOT EXISTS customer_transactions (
    customer_id int NOT NULL UNIQUE, 
    store_id int NOT NULL UNIQUE, 
    spent numeric 
);`
Another way to write a **UNIQUE constraint** is to add a table constraint using commas to separate the columns.

`CREATE TABLE IF NOT EXISTS customer_transactions (
    customer_id int NOT NULL, 
    store_id int NOT NULL, 
    spent numeric,
    UNIQUE (customer_id, store_id, spent)
);`

### PRIMARY KEY
The **PRIMARY KEY** constraint is defined on a single column, and every table should contain a primary key. The values in this column uniquely identify the rows in the table. If a group of columns are defined as a primary key, they are called a **composite key**. That means the combination of values in these columns will uniquely identify the rows in the table. By default, the **PRIMARY KEY** constraint has the unique and not null constraint built into it.

Let's look at the following example:

`CREATE TABLE IF NOT EXISTS store (
    store_id int PRIMARY KEY, 
    store_location_city text,
    store_location_state text
);`
Here is an example for a group of columns serving as **composite key**.

`CREATE TABLE IF NOT EXISTS customer_transactions (
    customer_id int, 
    store_id int, 
    spent numeric,
    PRIMARY KEY (customer_id, store_id)
);`

## Upsert
In RDBMS language, the term upsert refers to the idea of inserting a new row in an existing table, or updating the row if it already exists in the table. The action of updating or inserting has been described as "upsert".

The way this is handled in PostgreSQL is by using the `INSERT` statement in combination with the `ON CONFLICT` clause.

### INSERT
The **INSERT** statement adds in new rows within the table. The values associated with specific target columns can be added in any order.

Let's look at a simple example. We will use a customer address table as an example, which is defined with the following **CREATE** statement:

`CREATE TABLE IF NOT EXISTS customer_address (
    customer_id int PRIMARY KEY, 
    customer_street varchar NOT NULL,
    customer_city text NOT NULL,
    customer_state text NOT NULL
);`

Let's try to insert data into it by adding a new row:

`INSERT into customer_address (
VALUES
    (432, '758 Main Street', 'Chicago', 'IL'
);`

Now let's assume that the customer moved and we need to update the customer's address. However we do not want to add a new customer id. In other words, if there is any conflict on the `customer_id`, we do not want that to change.

This would be a good candidate for using the ON CONFLICT DO NOTHING clause.

`INSERT INTO customer_address (customer_id, customer_street, customer_city, customer_state)
VALUES
 (
 432, '923 Knox Street', 'Albany', 'NY'
 ) 
ON CONFLICT (customer_id) 
DO NOTHING;`

Now, let's imagine we want to add more details in the existing address for an existing customer. This would be a good candidate for using the **ON CONFLICT DO UPDATE** clause.

`INSERT INTO customer_address (customer_id, customer_street)
VALUES
    (
    432, '923 Knox Street, Suite 1' 
) 
ON CONFLICT (customer_id) 
DO UPDATE
    SET customer_street  = EXCLUDED.customer_street;`
    
We recommend checking out these two links to learn other ways to insert data into the tables.